<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAug-JESwAuYuwjpAGbx9AggDOFKhEEpOs</string>
	<key>GCM_SENDER_ID</key>
	<string>440751707011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.silva.dylan.AppPawsitive</string>
	<key>PROJECT_ID</key>
	<string>pawsitive---swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>pawsitive---swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440751707011:ios:a9bbea37f5589ddd9d9cb6</string>
</dict>
</plist>